$primarydisabled: #eceff4;

$primary: #4087F0;
$primary_dark: #124ca2;
$primary_light: #9abef5;
$primary_white: #EFF8FE;

$point: #6874E2;
$point_dark: #2a1f91;
$point_light: #aeb4ed;

$background_dark: #1d3052;
$background_light: #f4f8fb;
$background_light2: #EEF2F7;

$black: #000;
$text_gray: #3E3D42;


$red: #c82d2d;
$red_dark: #990d0d;
$red_light: #990d0d;

$disabled: #b4b6bd;
$dotted: #d5dae4;

$gray100: #dce6ed;
$gray200: #b4b2c2;
$gray300: #9497a1;
$gray400: #67686f;

$transition02: all 0.2s ease;
$transition03: all 0.3s ease;
$transition05: all 0.5s ease;

$box_shadow: 0px 7px 13px 0px rgba(39, 40, 64, 0.09);
$box_shadow_sm:0px 5px 10px 0px rgba(27, 32, 83, 0.2);
$box_shadow_none:0px 0px 0px 0px rgba(255, 255, 255, 0);
